version: '0.0.{build}'

image: Visual Studio 2017

init:
  - ps: >-
      if($env:appveyor_repo_tag -eq 'True') {
        Update-AppveyorBuild -Version "$($env:APPVEYOR_REPO_TAG_NAME.TrimStart("v"))"
      }

configuration:
  - Debug
  - Release

environment:
  matrix:
  - arch: x86
    platform: Win32
    visual_studio: Visual Studio 15 2017
    gtest: 1.7.0

  - arch: x86_64
    platform: x64
    visual_studio: Visual Studio 15 2017 Win64
    gtest: 1.8.1

install:
  - set PATH=%PATH%;%PYTHON%/Scripts/
  - pip.exe install conan
  - conan user
  - conan remote add systelab-bintray https://api.bintray.com/conan/systelab/conan
  - conan --version

before_build:
  - conan export-pkg JSONAdapterInterface/conanfile.py JSONAdapterInterface/%APPVEYOR_BUILD_VERSION%@systelab/stable -s build_type=%CONFIGURATION% -s compiler.toolset=v141 -s arch=%ARCH%
  - md build
  - cd build
  - conan install ../JSONAdapterTestUtilities -s build_type=%CONFIGURATION% -s compiler.toolset=v141 -s arch=%ARCH% -e VERSION="%APPVEYOR_BUILD_VERSION%" -o gtest=%GTEST%
  - cmake .. -G "%VISUAL_STUDIO%"

build:
  project: $(APPVEYOR_BUILD_FOLDER)\build\JSONAdapter.sln

after_build:
  - conan export-pkg ../JSONAdapterTestUtilities/conanfile.py JSONAdapterTestUtilities/%APPVEYOR_BUILD_VERSION%@systelab/stable -s build_type=%CONFIGURATION% -s compiler.toolset=v141 -s arch=%ARCH% -o gtest=%GTEST%
  - conan test ../test_package/conanfile.py JSONAdapterTestUtilities/%APPVEYOR_BUILD_VERSION%@systelab/stable -s build_type=%CONFIGURATION% -s compiler.toolset=v141 -s arch=%ARCH% -o gtest=%GTEST%

artifacts:
  - path: 'build/lib/%CONFIGURATION%/JSONAdapterTestUtilities.lib'
    name: JSONAdapterTestUtilities.lib

deploy_script:
  - ps: >- 
      if($env:appveyor_repo_tag -eq 'True') {
        conan upload JSONAdapterInterface/$env:appveyor_build_version@systelab/stable --all -r systelab-bintray --force
        conan upload JSONAdapterTestUtilities/$env:appveyor_build_version@systelab/stable --all -r systelab-bintray --force
      } else {
        echo "Not uploading because this is not a tag build"
      }

