version: '1.0.{build}'

image: Visual Studio 2017

platform:
  - x64
 
configuration:
  - Debug
  - Release

before_build:
  - md build
  - cd build
  - cmake .. -G "Visual Studio 15 2017 Win64"

build:
  project: $(APPVEYOR_BUILD_FOLDER)\build\JSONAdapter.sln
   
artifacts:
  - path: 'build/JSONAdapterTestUtilities/$(configuration)/JSONAdapterTestUtilities.lib'
    name: JSONAdapterTestUtilities.lib
